
@{
    ViewData["Title"] = "Profile";
}
<section class="web-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about  py-sm-5 py-4">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h2 class="title text-center">Company Profile</h2>
            <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-5">
                <li><a class="nav-link scroll" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active"> / Profile</li>
            </ul>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
 
    </div>
</section>


<section class="home-services pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-building"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Location</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">Kawasan Summarecon Bandung, Level Up Building, Jl. Sentra Raya Barat No.kav. 16B</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Email</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">info@zerodaystudio.com</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                <div class="box-wrap">
                    <div class="box-wrap-grid">
                        <div class="icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="info">
                            <p>Our</p>
                            <h4><a href="#url">Call Center</a></h4>
                        </div>
                    </div>
                    <p class="mt-4">+(62) 8192-0111-10</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="web-aboutblock1 py-5" id="about">
        <div class="container">
            <div class="section-title">
                <h6 class="title-subw3hny two mb-2 text-center"><span>What We Offer</span></h6>
                <h3 class="title-web two mb-4 text-center">High Quality Services</h3>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-percent"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">Fixed Rates</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-money"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">
                                        Reliable Transfers</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">Free Cancellation</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-arrow-up"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">
                                        Quality Arts</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-trophy"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">

                                        Award winning</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="box-wrap">
                        <div class="box-wrap-grid">
                            <div class="icon">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="info">
                                <h4><a href="#url">
                                        Online Support 24/7</a></h4>
                                <p class="mt-3">Lorem ipsum dolor sit amet consectetur ipsum elit. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>


<script src="~/js/jquery-3.3.1.min.js"></script>
  <!-- disable body scroll which navbar is in active -->
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!--//-->
<script src="~/js/theme-change.js"></script>
<script src="~/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->
<!-- script for owlcarousel -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: false
        },
        1000: {
          items: 1,
          nav: false
        }
      }
    })
  })
</script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- stats number counter-->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->
<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="~/js/bootstrap.min.js"></script>

